{
  "extends": "stylelint-config-standard",
  rules: {
    "indentation": 2,
    "rule-empty-line-before": null,
    "no-descending-specificity": null,
    "declaration-block-trailing-semicolon": null,
    "function-whitespace-after": nul
  }
}
